<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create Customer</h1>
<h3><a href="/">Back to list of customers</a></h3>
<hr/>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <th>First Name: </th>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <th>Last Name: </th>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <th>Province: </th>
            <td>
                <select th:field="*{province}">
                    <option th:each="p:${provinces}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Create</button></td>
        </tr>
    </table>
</form>
</body>
</html>