<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Edit Customer</h1>
<hr/>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <th>Id: </th>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <th>First Name: </th>
            <td><input type="text" th:field="*{firstName}" /></td>
        </tr>
        <tr>
            <th>Last Name: </th>
            <td><input type="text" th:field="*{lastName}" /></td>
        </tr>
        <tr>
            <th>Province: </th>
            <td>
                <select name="province">
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{province.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Edit</button></td>
        </tr>
    </table>
</form>
<h3><a href="/">Back to list of customers</a></h3>
</body>
</html>